<section id="newsletter">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-6">
        <h6>Don’t miss anything IEC related again!</h6>
        Sign up for our newsletter and stay up to date with latest news.
      </div>
      <div class="col-md-6">
        <form novalidate>
          <div class="row-fluid">
            <div class="col-md-9" style="padding-right: 0;">
              <input type="email" ng-model="newsletter.email" placeholder="Enter your email address:" />
            </div>
            <div class="col-md-3">
              <button type="submit">Sign Up</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>